<div class="modal__container">
  <div class="modal">
    <nav>
      <img src="../../../../assets/images/familia.svg" alt="">
      <h3>Seguro Vida Online</h3>
    </nav>
    <h4>¿Quiere proteger a su familia?</h4>
    <div>
      <p>Cubra los gastos de su hogar en caso de:</p>
      <ul>
        <li>Muerte por cualquier causa.</li>
        <li>Incapacidad total y permanente.</li>
      </ul>
    </div>
    <a class="terms" href="">Ver Términos y Condiciones</a>

    <div>
      <button class="button__secoundary">Omitir</button>
      <button class="button__continue"
      (click)="nexts()"
      >Adquirir</button>
    </div>
    <p>Este seguro es expedido por <br><strong>Seguros Bolivar S.A.</strong></p>
  </div>
</div>
