<section class="view1">

  <app-reverseatom> </app-reverseatom>

  <ul class="view1__items">
    <li>
      <img src="../../../../assets/images/views/Icon.svg" alt="">
      <p>Reciba el pago de su pensión y otros depósitos en su cuenta.</p>
    </li>
    <li>
      <img src="../../../../assets/images/views/Icon(0).svg" alt="">
      <p>Programe de forma automática sus transferencias, el pago de productos y servicios.</p>
    </li>
    <li>
      <img src="../../../../assets/images/views/Icon(1).svg" alt="">
      <p>Podrá obtener beneficios con aliados y tasas especiales en créditos para pensionados.</p>
    </li>
    <li>
      <img src="../../../../assets/images/views/Icon(2).svg" alt="">
      <p>Podrá acceder a un cupo de adelanto de pensión y a los productos móviles que le ofrece Davivienda.</p>
    </li>
  </ul>

  <div class="view1__continue">
    <div>
      <p>Este producto cuenta con el seguro de depósitos FOGAFIN</p>
    </div>

    <app-continueatom></app-continueatom>

  </div>

</section>



